body {
    max-width: 1400px;
    margin: 0 auto;
  }

.container{
    box-sizing: border-box;
   
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
  
}
.navBar-header-container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    margin-bottom: 50px;
    margin-top: 50px;
}
.navBar-header-container-element1{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    text-decoration: none
}
.navBar-header-container-element2{
    cursor: pointer;
    font-size: 50px;
    color: gray;
    border-radius: 0%;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
   
}
.element1-logo{
    width: 6em;
    cursor: pointer;
}
.title-header{
    text-align: center;
    margin-bottom: 50px;
}
.question1-container{
    display: grid;
    grid-template-columns: auto 6fr;
}
.circle-element{
    
    justify-content: center;
    text-align: center;
}
.circle{
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 236, 247);
    box-sizing: border-box;
    height: 53px;
    width: 53px;
    line-height: 53px;
    text-align: center;
}
.element2{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
   
}
.element{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
   
}
.grid-session{
    display: grid;
    grid-template-columns:  5fr 5fr 5fr 5fr 5fr  ;
    width: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.grid-item{
    min-height: 150px;
    border-radius: 8px;
    background-color: rgb(213, 220, 252);
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
   
}
.teeth{
  max-width: 100px;
  margin-top: 30px;
 
  align-items: center;
  justify-content: center;

}
.note{
  
    margin-top: 57px;
    align-items: center;
    justify-content: center;   
}

@media screen and (max-width: 839px) {
   .element2{
    font-size: 15px;
   }
   .grid-session{
    display: grid;
    grid-template-columns:  5fr 5fr  ;
   }
   
 }

.question2-container{
    display: grid;
    grid-template-columns: auto 6fr;
    margin-top: 50px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.grid-session2{
    display: grid;
    grid-template-columns:  5fr 5fr 5fr;
    margin-top: 50px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
@media screen and (max-width: 839px) {
    .grid-session2{
     display: grid;
     grid-template-columns:  5fr  ;
    }
    
  }